.StarterPokemonPage {
    margin-top: 40px;

    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3em;
}

.StarterPokemonPage > h2 {
    font-family: 'Bakbak One', cursive;
    font-size: 35px;
}

.StarterPokemonContainer {
    width: 95vw;
    
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 25px;
}